**/airflow/logs/

**/airflow/dags/sql/

**/airflow/plugins/

**/airflow/dags/_pycache_/

**/dwh_data/

**/pgadmin_data/

.DS_Store

**/airflow/dags/joke_dag.py
**/airflow/dags/user_age.py
**/airflow/dags/test_templates.py
**/airflow/dags/random_user_dag.py
**/airflow/dags/daily_users.py